<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 10</title>
    <link rel="stylesheet" href="image">
</head>
<body>
    <h1 class="heading">Click on any book to see the details.</h1><br>
    <div class="image">
        <table>
            <tr><td><a href="/books/1"><%= data[0].name %></a></td></tr><br>
            <tr><td><a href="/books/2"><%= data[1].name %></a></td></tr><br>
            <tr><td><a href="/books/3"><%= data[2].name %></a></td></tr><br>
        </table>
    </div>
</body>
</html>
